<div class="widget">

  <div class="widget-head">
    <div class="pull-left">Appeals</div>
    <div class="widget-icons pull-right">
      <a href="#" class="wminimize"><i class="fa fa-chevron-up"></i></a>
      <a href="#" class="wclose"><i class="fa fa-times"></i></a>
    </div>
    <div class="clearfix"></div>
  </div>

  <div class="widget-content">

    <div class="table-responsive">
      <table class="table table-striped table-bordered table-hover">
        <thead>
        <tr>
          <th>StudentID</th>
          <th>Name</th>
          <th>Who is coming</th>
          <th>Arrival Date</th>
          <th>Car Number</th>
          <th>Created At</th>
          <th>Status</th>
          <th>Control</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let appeal of appeals">
          <td>{{appeal.client.nuid}}</td>
          <td>{{appeal.client.firstname + ' ' + appeal.client.lastname}}</td>
          <td>{{appeal.note}}</td>
          <td>{{appeal.arrival_time}}</td>
          <td>{{appeal.car.number}}</td>
          <td>{{appeal.createdAt}}</td>
          <td>{{appeal.status}}</td>
          <td>
            <button *ngIf="appeal.status === 'New'" (click)="accept(appeal.id)" class="btn btn-xs btn-success"><i class="fa fa-check"></i> </button>
            <button *ngIf="appeal.status === 'New'" (click)="reject(appeal.id)" class="btn btn-xs btn-danger"><i class="fa fa-times"></i> </button>
          </td>
        </tr>

        </tbody>
      </table>
    </div>

    <div class="widget-foot">


      <ul class="pagination pagination-sm pull-right">
        <li><a href="#">Prev</a></li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">Next</a></li>
      </ul>

      <div class="clearfix"></div>

    </div>

  </div>

</div>
